@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
  }
} */

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.top-video-header {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

video {
  display: block;
  margin: 0;
  padding: 0;
}
